*{box-sizing: border-box;
    margin:0;
    padding:0;
}
    body{
    background-color:#E5E5E5;
    padding-left: 10%;
    padding-right: 10%;
    }
    nav{
        background-color: white;
        padding:2px;
        width:100%;
    }
    nav ul{
        list-style-type: none;
        display:flex;
        width:100%;
        justify-content: flex-end;
        gap: 15px;
        padding:10px;
    }
    nav li{
        font-weight: bold;
    }
    nav a{
        text-decoration: none;
        color:rgb(22, 22, 22);
    }
    nav a:hover{
        color: deeppink;
    }
    .blog_page{
        font-weight:bold;
        color:#7c7575;
    }
    .blog_heading h1{
        background-color:white;
        padding-left:10%;
    }
    .blog_content{
        background-color:white;
        padding-left:10%; 
        height: 100vh;
    }
    .blog_content h2{
        padding-top:20px;
        padding-bottom:20px;
    }
    .content_design{
        border-left:1px solid #000000;
        padding-left:20px;
        margin-left:15px;
    }
    .blog_content div{
        border-bottom:1px solid #E0E0E0;
        width:681px;
        padding-bottom:20px;
    }
    footer{
      background-color: white; 
      display:flex;
      flex-direction:column;
      align-items: center;
    }
    .social_links li{
        list-style-type: none;
        display:inline;
        margin-left:15px;
    }
    .copyright p{
        padding-bottom:50px;
    }